.card {
  float: none;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin: 10px 10px 10px 10px;
}

div {
  color: #fff;
  background-color: #090;
  width: 800px;
  text-align: center;
}



button {
  width: 80px;
  height: 40px;
  margin: 20px 20px 20px 20px;
  border-radius: 5px;
  background: #fff;
}
.covered {
  background-color: black;
}

.hand {
  overflow: auto;
}
